body{
font-family: 'Montserrat', sans-serif;
padding: 0;
margin: 0;
background-color: #d2d2e0;
}



.grid{
  width: 480px;
  height: 480px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: auto;
}

.grid-box{
  background-color: white;
  display: inline-block;
  float: left;

  margin: 0;
  padding: 0;
}

.class{
  background-color: black;

}

button{
  padding: 10px 30px;
  background-color: white;
  border: 2px solid #555555;
  transition: .4s;
  border-radius: 5px;
  margin: 20px;
  font-size: 1.2em;

}

button:hover{
  background-color: #555555;
  color: white;

}


.control{
  margin-left: 50%;
  transform: translate(-50%);
  text-align: center;
}


h1{
color: white;
font-size: 2em;
padding: 10px;
}

.header{
  background-color:  #ff4d4d;
}
